.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    span,
    svg {
      color: mediumseagreen;
      text-shadow: 2px 2px 2px;
      font-size: 2.6em;
      font-weight: 100;
      margin-right: 7px;
    }

    svg {
      margin-bottom: 16px;
    }
  }

  .modal-header {
    font-weight: 100;
    margin-top: 7px;
  }

  .app-header-desc {
    font-size: 1.8em;
    font-weight: 100;
  }
}
